<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Meet</title>
    <link rel="icon" href="/images/Logo.jpg" type="image/x-icon" />
    <link href="css/style.css" rel="stylesheet" />
    <script src='/socket.io/socket.io.js'></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://kit.fontawesome.com/92812d5205.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="main">
        <div class="LeftSection">
            <div class="VideoSection">
                <div id='VideoGrid'></div>
            </div>
            <div class="buttons">
                <div class="buttonGroup">
                    <div onclick="toggleMute()" class="button muteButton">
                        <i class="fa fa-microphone"></i>
                        <span>Mute</span>
                    </div>
                    <div onclick="toggleVideo()" class="button videoButton">
                        <i class="fa fa-video"></i>
                        <span>Stop Video</span>
                    </div>
                </div>
                <div class="buttonGroup">
                    <div class="button">
                        <span class="leaveMeeting">Leave Meeting</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="RightSection">
            <div class="chatHeading">
                <h6>Chat</h6>
            </div>
            <div class="chatArea">
                <ul class="messages"></ul>
            </div>
            <div class="chatInputField">
                <input id='chatMessage' type="text" placeholder="Type the message...." />
            </div>
        </div>
    </div>

    <script>
        const ROOM_ID = "<%= roomId %>";    
    </script>
    <script src="javascript/script.js"></script>
</body>

</html>