@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

#VideoGrid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

video {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.main {
    height: 100vh;
    display: flex;
}

.LeftSection {
    display: flex;
    flex-direction: column;
    flex: 0.8;
}

.RightSection {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}

.VideoSection {
    flex-grow: 1;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    background-color: #1C1E20;
    color: #D2D2D2;
    padding: 5px;
    justify-content: space-between;
}

.buttonGroup {
    display: flex;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.button i {
    font-size: 24px;
}

.button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.leaveMeeting {
    color: #EB534B;
}

.chatHeading {
    color: #F5F5F5;
    text-align: center;
}

.chatArea {
    flex-grow: 1;
    overflow-y: scroll;
}

.chatInputField {
    display: flex;
    padding: 22px 12px;
}

.chatInputField input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.messages {
    list-style: none;
    color: white;
}

.message {
    margin: 16px 0;
}

.unmute, .stop {
    color: #CC3B33
}

.messageTime {
    font-size: 10px;
    color: gray;
    margin-left: 10px;
}